apiVersion: v1
kind: ConfigMap
metadata:
  name: policy-mgmt
  namespace: {{ .Release.Namespace }}
data:
  APP_DATABASE_DRIVER: 'postgres'
  APP_HTTP_BIND: ':3000'
  APP_DEBUG: '{{ .Values.config.debug }}'
  APP_PLATFORM_BASE_URL: '{{ .Values.global.loadbalancerURL }}'
  APP_ENABLE_AUDIT_TRAIL: '{{ .Values.config.enableAuditTrail }}'
#  APP_EVENTS_FRAMEWORK_REDIS_URL: 'redis-sentinel-harness-announce-0.{{ .Release.Namespace }}:26379,redis-sentinel-harness-announce-1.{{ .Release.Namespace }}:26379,redis-sentinel-harness-announce-2.{{ .Release.Namespace }}:26379'
  APP_EVENTS_FRAMEWORK_REDIS_URL: 'rediss://redis-sentinel-harness-announce-0:26379'
  APP_EVENTS_FRAMEWORK_ENV_NAMESPACE: '{{ .Values.config.eventsFrameworkEnvNamespace }}'
  APP_EVENTS_FRAMEWORK_REDIS_SSL_ENABLED: '{{ .Values.config.eventsFrameworkRedisSslEnabled }}'
  APP_EVENTS_FRAMEWORK_REDIS_SSL_CA_PATH: '{{ .Values.config.eventsFrameworkRedisSslCaPath }}'
  APP_GITX_ENABLED: '{{ .Values.config.gitxEnabled }}'
  APP_GITX_AUTHORITY: '{{ .Values.config.gitxAuthority }}'
  APP_GITX_URL: '{{ .Values.config.gitxUrl }}'
  APP_TOKEN_JWT_SECRET: "HVSKUYqD4e5Rxu12hFDdCJKGM64sxgEynvdDhaOHaTHhwwn0K4Ttr0uoOxSsEVYNrUU="
  APP_INTERNAL_TOKEN_JWT_SECRET: "dOkdsVqdRPPRJG31XU0qY4MPqmBBMk0PTAGIKM6O7TGqhjyxScIdJe80mwh5Yb5zF3KxYBHw6B3Lfzlq"
  APP_NEXT_GEN_MANAGER_JWT_SECRET: "IC04LYMBf1lDP5oeY4hupxd4HJhLmN6azUku3xEbeE3SUx5G3ZYzhbiwVtK4i7AmqyU9OZkwB4v8E9qM"
