apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "policy-mgmt.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "policy-mgmt.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "policy-mgmt.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "policy-mgmt.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "policy-mgmt.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: APP_DATABASE_USER
              valueFrom:
                secretKeyRef:
                name: {{ .Values.policyMgmtSecrets.databaseUser.name }}
                key: {{ .Values.policyMgmtSecrets.databaseUser.key }}
          - name: APP_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                name: {{ .Values.policyMgmtSecrets.databasePassword.name }}
                key: {{ .Values.policyMgmtSecrets.databasePassword.key }}
          - name: APP_APPDYNAMICS_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                name: {{ .Values.policyMgmtSecrets.appdynamicsAccessKey.name }}
                key: {{ .Values.policyMgmtSecrets.appdynamicsAccessKey.key }}
          - name: APP_EVENTS_FRAMEWORK_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                name: {{ .Values.policyMgmtSecrets.eventsFrameworkRedisPassword.name }}
                key: {{ .Values.policyMgmtSecrets.eventsFrameworkRedisPassword.key }}
          envFrom:
          - configMapRef:
              name: policy-mgmt
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
